In [2]:
import sqlalchemy

In [3]:
engine = sqlalchemy.create_engine('postgresql://postgres:admin@localhost:5432/music_db')
connection = engine.connect()

In [75]:
connection.execute(
    f"""
    CREATE TABLE artists (
        id serial PRIMARY KEY,
        name varchar(40) NOT NULL,
        release_year integer);
    """)

In [76]:
connection.execute(
    f"""
    CREATE TABLE albums (
        id serial PRIMARY KEY,
        name varchar(40) NOT NULL,
        release_year integer);
    """)

In [77]:
connection.execute(
    f"""
    CREATE TABLE tracks (
        id serial PRIMARY KEY,
        name varchar(40) NOT NULL, 
        lenght integer NOT NULL,
        album integer REFERENCES albums(id));
    """)

In [78]:
connection.execute(
    f"""
    CREATE TABLE playlists (
        id serial PRIMARY KEY,
        name varchar(40) NOT NULL,
        release_year integer NOT NULL);
    """)

In [79]:
connection.execute(
    f"""
    CREATE TABLE genreartist (
        id serial PRIMARY KEY,
        genre_id integer NOT NULL REFERENCES genres(id),
        artist_id integer NOT NULL REFERENCES artists(id));
    """)

In [80]:
connection.execute(
    f"""
    CREATE TABLE artistalbum (
        id serial PRIMARY KEY,
        album_id integer NOT NULL REFERENCES albums(id), 
        artist_id integer NOT NULL REFERENCES artists(id));
    """)

In [81]:
connection.execute(
    f"""
    CREATE TABLE playlisttrack (
        id serial PRIMARY KEY,
        track_id integer NOT NULL REFERENCES tracks(id),
        playlist_id integer NOT NULL REFERENCES playlists(id));
    """)

In [82]:
connection.execute(
    f"""INSERT INTO genres(name)
    VALUES ('rock'), ('pop'), ('rnb'), ('hiphop'), ('classic');
    """)

In [83]:
connection.execute(
    f"""INSERT INTO artists(id, name, release_year) 
    VALUES 
        (DEFAULT, 'The Weeknd', 1),
        (DEFAULT, 'Kanye West', 2),
        (DEFAULT, 'Doja Cat', 3),
        (DEFAULT, 'Taylor Swift', 4),
        (DEFAULT, 'Tyler, the Creator', 3),
        (DEFAULT, 'ABBA', 2),
        (DEFAULT, 'Drake', 1),
        (DEFAULT, 'Kendrick Lamar', 3),
        (DEFAULT, 'Arctic Monkeys', 2),
        (DEFAULT, 'Ariana Grande', 1);
    """)

In [84]:
connection.execute(
    f"""INSERT INTO albums(id, name, release_year) 
    VALUES 
        (DEFAULT, 'Starboy', 2005),
        (DEFAULT, 'Beauty Behind the Madness', 2020),
        (DEFAULT, 'After Hours', 2018),
        (DEFAULT, 'Trilogy', 2009),
        (DEFAULT, 'My Dear Melancholy', 2019);
    """)

In [85]:
connection.execute(
    f"""INSERT INTO tracks(id, name, lenght, album) 
    VALUES 
        (DEFAULT, 'Fifty Shades of Grey', 239, 2),
        (DEFAULT, 'My Reminder', 198, 4),
        (DEFAULT, 'Trilogy', 203, 3),
        (DEFAULT, 'My King Of The Fall', 219, 1),
        (DEFAULT, 'I Feel It Coming', 180, 2),
        (DEFAULT, 'After Hours', 328, 4);
    """)

In [86]:
connection.execute(
    f"""INSERT INTO playlists(id, name, release_year) 
    VALUES 
        (DEFAULT, 'Best1', 2015),
        (DEFAULT, 'Best2', 2018),
        (DEFAULT, 'Best3', 2019),
        (DEFAULT, 'Best4', 2020),
        (DEFAULT, 'Best5', 2021);
    """)

In [87]:
connection.execute(
    f"""INSERT INTO genreartist(id, genre_id, artist_id) 
    VALUES 
        (DEFAULT, 1, 3),
        (DEFAULT, 2, 5),
        (DEFAULT, 3, 4),
        (DEFAULT, 4, 1),
        (DEFAULT, 5, 3);
    """)

In [88]:
connection.execute(
    f"""INSERT INTO artistalbum(id, album_id, artist_id) 
    VALUES 
        (DEFAULT, 1, 3),
        (DEFAULT, 2, 5),
        (DEFAULT, 3, 4),
        (DEFAULT, 4, 1),
        (DEFAULT, 5, 3);
    """)

In [89]:
connection.execute(
    f"""INSERT INTO playlisttrack(id, track_id, playlist_id) 
    VALUES 
        (DEFAULT, 1, 3),
        (DEFAULT, 2, 5),
        (DEFAULT, 3, 4),
        (DEFAULT, 4, 1),
        (DEFAULT, 5, 3);
    """)

Количество исполнителей в каждом жанре:

In [15]:
connection.execute("""
SELECT g.name, COUNT(ga.artist_id)
FROM genreartist ga
JOIN genres g ON g.id = ga.genre_id
GROUP BY g.name;""").fetchall()

[('rock', 1), ('hiphop', 1), ('pop', 1), ('classic', 1), ('rnb', 1)]

Количество треков, вошедших в альбомы 2019-2020 годов:

In [19]:
connection.execute("""
SELECT a.release_year, COUNT(*)
FROM tracks t
JOIN albums a ON a.id = t.album
WHERE a.release_year IN (2019, 2020)
GROUP BY a.release_year;""").fetchall()

[(2020, 2)]

Средняя продолжительность треков по каждому альбому:

In [22]:
connection.execute("""
SELECT a.name, ROUND(AVG(lenght), 2)
FROM tracks t
JOIN albums a ON a.id = t.album
GROUP BY a.name;""").fetchall()

[('Starboy', Decimal('219.00')),
 ('Trilogy', Decimal('263.00')),
 ('Beauty Behind the Madness', Decimal('209.50')),
 ('After Hours', Decimal('203.00'))]

Все исполнители, которые не выпустили альбомы в 2020 году:

In [28]:
connection.execute("""
SELECT ar.name, al.release_year
FROM artistalbum aa
JOIN artists ar ON aa.artist_id = ar.id
JOIN albums al ON aa.album_id = al.id
WHERE al.release_year != 2020;""").fetchall()

[('Doja Cat', 2005),
 ('Taylor Swift', 2018),
 ('The Weeknd', 2009),
 ('Doja Cat', 2019)]

Названия сборников, в которых присутствует конкретный исполнитель (выберите сами):

In [46]:
connection.execute("""
SELECT p.name
FROM playlisttrack pt
JOIN tracks t ON t.id = pt.track_id
JOIN playlists p ON p.id = pt.playlist_id
JOIN albums al ON al.id = t.album
WHERE al.name IN (
    SELECT al.name
    FROM artistalbum aa
    JOIN artists ar ON ar.id = aa.artist_id
    JOIN albums al ON al.id = aa.album_id
    WHERE ar.name IN ('Taylor Swift', 'The Weeknd'));""").fetchall()

[('Best5',), ('Best4',)]

Название альбомов, в которых присутствуют исполнители более 1 жанра:

In [49]:
connection.execute(
    f"""INSERT INTO genreartist(id, genre_id, artist_id) 
    VALUES 
        (DEFAULT, 2, 3);
    """)

In [59]:
connection.execute("""
SELECT al.name
FROM artistalbum aa
JOIN albums al ON aa.album_id = al.id
JOIN artists ar ON ar.id = aa.artist_id
WHERE ar.name IN (
    SELECT ar.name
    FROM genreartist ga
    JOIN genres g ON g.id = ga.genre_id
    JOIN artists ar ON ar.id = ga.artist_id
    GROUP BY ar.name
    HAVING COUNT(ar.name) > 1);""").fetchall()

[('Starboy',), ('My Dear Melancholy',)]

Наименование треков, которые не входят в сборники:

In [68]:
connection.execute("""
SELECT t.name
FROM tracks t
LEFT JOIN playlisttrack pt ON pt.track_id = t.id
WHERE pt.playlist_id IS NULL;""").fetchall()

[('After Hours',)]

Исполнителя(-ей), написавшего самый короткий по продолжительности трек (теоретически таких треков может быть несколько):

In [75]:
connection.execute("""
SELECT ar.name
FROM tracks t
JOIN albums al ON al.id = t.album
JOIN artistalbum aa ON aa.album_id = al.id
JOIN artists ar ON ar.id = aa.artist_id
WHERE t.lenght = (
    SELECT MIN(lenght)
    FROM tracks t);""").fetchall()

[('Tyler, the Creator',)]

Название альбомов, содержащих <s>наименьшее</s> наибольшее количество треков:

In [82]:
connection.execute(
    f"""INSERT INTO tracks(id, name, lenght, album) 
    VALUES 
        (DEFAULT, 'New track', 238, 2);
    """)

In [101]:
connection.execute("""
SELECT album_name
FROM (
    SELECT al.name AS album_name, COUNT(t.id) AS count_tracks
    FROM albums al
    JOIN tracks t ON t.album = al.id
    GROUP BY al.name) t1
ORDER BY count_tracks DESC
LIMIT 1;""").fetchall()

[('Beauty Behind the Madness',)]